
 h1{
    text-align: center; text-decoration: wavy; color: blueviolet; background-color: burlywood;
}
body{
    background-color: rgb(236, 176, 188);font-size: 40px;
}

ul li {
    font-style:bold;
}
